* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* Disable selection */
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  /*-webkit-app-region: drag;*/
}
input, button, textarea, :focus {
    outline: none;
}

:root {
  font-family: "Inter", sans-serif;
  font-size: 180%;
}

body {
  position: absolute;
  width:100%;
  height:100%;
  background:transparent;
}

span {
  font-size: 300%;
}

.bt_acesso{
  border-radius:50px;
  color:#fff;
  width:80px;
  height:80px;
  box-shadow: 0 0 10px #000;
  border:2px solid #fff;
  position: fixed;
  bottom:20px;
  right:20px;
  font-size:45px;
  cursor:pointer;
  opacity: 1;
  background:transparent;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition:    all .3s ease-in-out;
  -o-transition:      all .3s ease-in-out;
  -ms-transition:     all .3s ease-in-out;
  transition:         all .3s ease-in-out;  
}
.bt_acesso:hover{
  opacity: 0.8;
  box-shadow: 0;
}